@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --ff-playfair: 'Playfair Display', serif;
    --ff-ptsans : 'PT Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h3, p {
    font-family: var(--ff-ptsans);
}

.subhead > p{
    display: inline;
}

.subhead--in {
    font-family: var(--ff-ptsans);
    font-weight: normal;
}

.clg-name {
    font-family: var(--ff-playfair);
}
.header > div{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.footer--text {
    text-align: center;
}

.split {
    display: flex;
    flex-direction: column;
}

.container {
    margin-inline: auto;
    width: min(90%);
}

.bg-blue {
    margin: 5% 5%;
    border-radius: 1rem 1rem;
    background-color: #7CB9E8;
}

.footer-bg-blue {
  margin: 1em 1em;
  border-radius: 1rem 1rem;
  background-color: #7CB9E8;
}

.text-center {
    text-align: center;
}

ul {
    padding-left: 0rem !important;
}

.img-box {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.announ {
    display: flex;
    flex-direction: column;
}

.marquee--card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 100%;
    height: 29vw;
    font-family: var(--ff-ptsans);
}

.ma--card--height {
    flex: 1;
}

section {
    padding: 2.5rem 0;
}

.header:nth-of-type(1) {
    background-image: url(../images/primary_background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1.5rem;
}

h3 {
    font-size: 7vw;
    margin-bottom: 1rem;
}

.pnote {
    margin: 3rem;
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 7vw;
    }

    .header > div {
        flex-direction: column;
    }
    
    h1, h2 {
        color: white;
    }
}

@media screen and (min-width:480px) and (max-width: 800px) {
    h3 {
        font-size: 5vw;
    }

    .navbar-nav > li{
        margin: 0;
    }

    .header > div {
        flex-direction: column;
    }

    h1, h2 {
        color: white;
    }
}

@media (min-width: 800px) {

    h3 {
        font-size: 2vw;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h1, h2 {
        color: white;
    }

    * {
        margin: 0;
    }

    .header:nth-of-type(1) {
        background-image: url(../images/primary_background.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
   
    .text-center {
        text-align: center;
    }

    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 3rem;
    }
}

footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container--footer {
    min-height: 5vw;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}


.h3-block::before {
    margin-right: 5px;
    display: inline;
    content: "l";
    width: 1px;
    height: 200px;
    background-color: yellow;
    color: yellow;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--ff-ptsans);
}
.wrapper{
  background: #7CB9E8;
  position: fixed;
  width: 98%;
  margin: 0.5% 1%;
  border-radius: 10px;
  z-index: 10;
}
.wrapper nav{
  position: relative;
  display: flex;
  margin: 0 3%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
  flex:1;
}
nav .content .links{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
  padding-left: 0%;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
  color: #7CB9E8;
}

.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}

.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #7CB9E8;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  left: 100%;
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

@media screen and (max-width: 1200px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
    margin-left: 30px;
    }
    .content .links li a{
    padding: 8px 13px;
    }
  .wrapper .menu-icon{
    display: block;
  }

  nav .content {
    flex-direction: row-reverse;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 1%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
}

.links > li {
    margin-left: 50px;
}